USE [adm_colegio]
GO
/****** Objeto: StoredProcedure [dbo].[procedimiento_prueba] Fecha de script: 24/09/2026 3:44:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[procedimiento_prueba]
    @xml_usuarios XML,
    @xml_compras XML,
    @xml_itemsIva XML
AS
BEGIN
    SET NOCOUNT ON;

    CREATE TABLE #usuarios (
        i_id INT,
        c_nombre VARCHAR(100)
    );

    CREATE TABLE #compras (
        i_usuario INT,
        i_producto INT,
        d_valor DECIMAL(18,2)
    );

    CREATE TABLE #iva (
        i_producto INT,
        d_porcentaje DECIMAL(5,4)
    );

    INSERT INTO #usuarios (i_id, c_nombre)
    SELECT 
        T.Item.value('Id[1]', 'INT'),
        T.Item.value('Nombre[1]', 'VARCHAR(100)')
    FROM @xml_usuarios.nodes('/Data/Usuario') AS T(Item);

    INSERT INTO #compras (i_usuario, i_producto, d_valor)
    SELECT 
        T.Item.value('Usuario[1]', 'INT'),
        T.Item.value('Producto[1]', 'INT'),
        T.Item.value('Valor[1]', 'DECIMAL(18,2)')
    FROM @xml_compras.nodes('/Data/Item') AS T(Item);

    INSERT INTO #iva (i_producto, d_porcentaje)
    SELECT 
        T.Item.value('IdProducto[1]', 'INT'),
        T.Item.value('Porcentaje[1]', 'DECIMAL(5,4)')
    FROM @xml_itemsIva.nodes('/Data/Producto') AS T(Item);

    SELECT 
        u.i_id AS [Id],
        u.c_nombre AS [Nombre],
        ISNULL(SUM(c.d_valor), 0) AS [Valor Total],
        ISNULL(SUM(c.d_valor * ISNULL(i.d_porcentaje, 0)), 0) AS [Iva]
    FROM #usuarios u
    LEFT JOIN #compras c ON u.i_id = c.i_usuario
    LEFT JOIN #iva i ON c.i_producto = i.i_producto
    GROUP BY u.i_id, u.c_nombre
    ORDER BY u.i_id;

    DROP TABLE #usuarios;
    DROP TABLE #compras;
    DROP TABLE #iva;
END

GO
