USE [adm_colegio]
GO
/****** Objeto: Table [dbo].[AsignacionMateriasProfesor] Fecha de script: 24/09/2026 3:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionMateriasProfesor](
	[i_id] [int] IDENTITY(1,1) NOT NULL,
	[i_profesor_id] [int] NOT NULL,
	[i_materia_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[i_materia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Materias] Fecha de script: 24/09/2026 3:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[i_id] [int] IDENTITY(1,1) NOT NULL,
	[c_codigo] [varchar](20) NOT NULL,
	[c_nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[c_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MatriculasYCalificaciones] Fecha de script: 24/09/2026 3:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatriculasYCalificaciones](
	[i_id] [int] IDENTITY(1,1) NOT NULL,
	[i_alumno_id] [int] NOT NULL,
	[i_materia_id] [int] NOT NULL,
	[i_anio_academico] [int] NOT NULL,
	[d_calificacion_final] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Alumno_Materia_Ano] UNIQUE NONCLUSTERED 
(
	[i_alumno_id] ASC,
	[i_materia_id] ASC,
	[i_anio_academico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Personas] Fecha de script: 24/09/2026 3:41:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[i_id] [int] IDENTITY(1,1) NOT NULL,
	[c_identificacion] [varchar](20) NOT NULL,
	[c_nombre] [varchar](100) NOT NULL,
	[c_apellido] [varchar](100) NOT NULL,
	[i_edad] [int] NOT NULL,
	[c_direccion] [varchar](200) NULL,
	[c_telefono] [varchar](20) NULL,
	[c_tipo_persona] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[c_identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AsignacionMateriasProfesor]  WITH CHECK ADD FOREIGN KEY([i_materia_id])
REFERENCES [dbo].[Materias] ([i_id])
GO
ALTER TABLE [dbo].[AsignacionMateriasProfesor]  WITH CHECK ADD FOREIGN KEY([i_profesor_id])
REFERENCES [dbo].[Personas] ([i_id])
GO
ALTER TABLE [dbo].[MatriculasYCalificaciones]  WITH CHECK ADD FOREIGN KEY([i_alumno_id])
REFERENCES [dbo].[Personas] ([i_id])
GO
ALTER TABLE [dbo].[MatriculasYCalificaciones]  WITH CHECK ADD FOREIGN KEY([i_materia_id])
REFERENCES [dbo].[Materias] ([i_id])
GO
ALTER TABLE [dbo].[MatriculasYCalificaciones]  WITH CHECK ADD CHECK  (([d_calificacion_final]>=(0.0) AND [d_calificacion_final]<=(5.0)))
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD CHECK  (([c_tipo_persona]='A' OR [c_tipo_persona]='P'))
GO
